APP_NAME="ცხრამეტი ნაოჭი POS"
APP_URL=http://localhost/nineteen-pleats/public
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nineteen_pleats
DB_USERNAME=root
DB_PASSWORD=

# საწყისი მომხმარებლები იქმნება database/schema.sql-დან
# Admin: admin / admin123
# მოლარე: molare / molare123
CANCEL_PASSWORD=cancel123

RESTAURANT_NAME="ცხრამეტი ნაოჭი"
RESTAURANT_NAME_EN="Nineteen Pleats"
RESTAURANT_ADDRESS=""
RESTAURANT_PHONE="598 01 83 83"
RECEIPT_THANK_YOU="გმადლობთ სტუმრობისთვის!"

CASHIER_PRINTER_IP=192.168.1.50
KITCHEN_PRINTER_IP=192.168.1.51
PRINTER_PORT=9100
PRINTING_ENABLED=false
